<div class="container">
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <button id="btnHome" routerLink="home" type="button" class="btn btn-primary btn-lg">Home</button>
        <button id="btnLista" (click)="goMain()" type="button" class="btn btn-primary btn-lg">Lista</button>
        <button id="btnNovo" routerLink="detail" type="button" class="btn btn-primary btn-lg">Novo</button>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>
